* {
    font-family: Mononoki Nerd Font, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
	font-weight: 900;
}

window#waybar {
    background-color: #1a1b26;
    color: #a9b1d6;
	border-bottom: 2px;
	border-style: solid;
	border-color: #a9b1d6;
}

#workspaces button {
    color: #a9b1d6;
	border-radius: 0px;
	padding: 0px 1px 0px 2px;
}

#workspaces button.active {
    background-color: #a9b1d6;
	color: #1a1b26;
}

#workspaces button.urgent {
    color: #ff7a93;
}

#clock,
#battery,
#network,
#tray,

#window,
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
	margin-left: 10px;
}

#battery {
	margin-left: 20px;
}

#battery.critical:not(.charging) {
    color: #ff7a93;
}

#network {
	margin-right: 10px;
	margin-left: 10px;
}

#tray {
    color: #a9b1d6;
	margin-left: 20px;
}
